/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,300;0,500;1,200&display=swap');

/* Paragraphs */
.text{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.text-lead{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.italic{
    font-style: italic;
}
/* Headers */
.h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Buttons */
.btn{
    border-radius: 5px;
    height: 2.25rem;
    width: 5rem;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}
.primary{
    background-color: #A03E84 ;
}
.primary:hover{
    background-color: #B03E84 
}
.secondary{
    background-color: #2D1E94;
}
.secondary:hover{
    background-color: #0D1E94;
}
.success{
    background-color: #0AA88C;
}
.success:hover{
    background-color: #0BB88C;
}
.info{
    background-color: #27C8F5;
}
.info:hover{
    background-color: #27B8F5;
}
.warning{
    background-color: #f08f11;
}
.warning:hover{
    background-color: #f07f00;
}
.danger{
    background-color: #cf0e00;
}
.danger:hover{
    background-color: #b60c00;
}

/* input */
.input{
    width: 200px;
    border-radius: 3px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 80%;
}
.textarea{
    width: 200px;
    height: 100px;
    border-radius: 3px;
    border: none;
    opacity: 80%;
}
/* Colors */
.bg-red{
    background-color: #BF150A;
}
.bg-blue{
    background-color: #1E55F5;
}
.bg-green{
    background-color: #379487;
}
.bg-yellow{
    background-color: #F5E363;
}
.bg-pink{
    background-color: #F57CF5;
}
.bg-orange{
    background-color: #F5665D;
}

.red{
    color: #F52E3B;
}
.blue{
    color: #00B2EB;
}
.pink{
    color: #EB8FE8;
}
.green{
    color:#4BEBC2;
}
.orange{
    color: #EB5E50;
}